{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container">
        {% for client in clients %}
        <div class="card mb-4">
            <div class="card-header fs-3">
                <i class="fa-solid fa-user"></i><span style="padding-left: 12px;">{{ client.name }}</span>
            </div>
            <div class="card-body">
              <h5 class="card-title">Description</h5>
              <p class="card-text">{{ client.description }}.</p>
              <a href="{{ url_for('client_data', client_id=client.id) }}" class="btn btn-primary">View Data</a>
              <a href="{{ url_for('delete', xid=client.id) }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

    